/* Navegador.css o tu archivo CSS personalizado */
:root {
  --primary: #3b82f6; /* valor por defecto */
  --secondary: #1e3a8a; /* valor por defecto */
  --body-color: #f8f9fa; /* valor por defecto */
}

.navbar {
  background-color: var(--primary);
}

.navbar-nav .nav-link {
  color: var(--body-color);
}

.navbar-nav .nav-link:hover {
  color: var(--secondary);
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
}
